/NetBeansProjects/JavaApplication1/nbproject/private/
/NetBeansProjects/AppRegistro/nbproject/private/
/NetBeansProjects/AppRegistro/build/
/NetBeansProjects/PromedioPonderado/nbproject/private/
/NetBeansProjects/PromedioPonderado/build/
/NetBeansProjects/Tablas/nbproject/private/
/NetBeansProjects/Tablas/build/
